.button--full {
    width: 100%;
    display: block;
}

a {
    color: var(--blue);
    text-decoration: none;
    cursor: default;
}

.type {
    padding: 0 calc(var(--size-xxsmall) / 2) 0 var(--size-xxsmall);
}

div.select-menu {
    flex-grow: 1;
}

.input .icon--trailing {
    left: auto;
    right: var(--size-xxxsmall);
}

.title.inactive:hover {
    .inactive {
        color: var(--black8);
    }
    
    .icon-button {
        -webkit-filter: none;
        filter: none;
    }
}
.inactive {
    color: var(--black3-opaque);
    &:hover {
        color: var(--black8);
    }
}

hr {
    border: 0;
    height: 1px;
    background: var(--silver);
    margin: 0px;;
}

.bottom {
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
    background-color: white;
    z-index: 100;
}

.section-title .icon-button {
    left: auto;
    right: 0px;
}